*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#0e0f0e;
    color:rgb(250, 229, 4);
    line-height:1.6;
}
a{
    color: inherit;
    /* text-decoration: none; */
}
header{
    padding: 20px;
    margin-bottom:50px;
    background-color: #000000;
    border-bottom:1px solid #333;

}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav a.active{
    color:white;
}
.logo{
    font-size:30px;
    color:#ccc;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}
nav a{
    color:#232d6c;
    transition:0.3s;
    text-decoration:none;
}
nav a:hover{
    color:rgb(186, 78, 58);
}

#home{
    min-height:99vh;
    padding: 0 8%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}

#home p{
    color:#bbb;
    font-size:20px;
}

#home h1{
    font-size:80px;
    line-height:1;
    margin:5px 0;
}

#home h2{
    color:#bbb;
    font-size:28px;
}
#home a{
    margin-top:27px;
    width:fit-content;
    padding:12px 24px;
    border:1px solid #555;
    border-radius:5px;
    transition:0.3s;
    text-decoration:none;
}

#home a:hover{
    background: rgb(151, 137, 137);
    color:black;
    text-decoration:none;
}

#about {
    min-height: 99vh;
    padding:100px 8%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#about h2{
    font-size:45px;
    margin-bottom: 25px;
}

#about p {
    max-width:70vw;
    color:#bbb;
    font-size:20px;
    margin-bottom:15px;
}

#skills{
    min-height:70px;
    padding:80px 8%;
}

#skills h2{
    font-size:45px;
    margin-bottom:40px;
}
.skills-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.skill {
    border: 1px solid white;
    border-radius:5px;
    padding:20px;
    /* height:200px; */
    width:300px;
    background:#444;
    transition:0.3s;
}
.skill:hover{
    transform:translateY(-5px);
    border-color:#666;
}

.skill h3{
    font-size:25px;
    margin-bottom:30px;
}

.skill p{
    color: #bbb;
    line-height:1.8;
}

#projects{
    min-height:70vh;
    padding:100px 8%;
}

#projects h2{
    font-size:40px;
    margin-bottom:40px;
}

.projects-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}

.project-card{
    background:linear-gradient(145deg,#181918,#0d0e0d);
    border:1px solid #ccc;
    border-radius:5px;
    padding:25px;
    min-height:250px;
    transition:0.3s;
    position:relative;
    overflow:hidden;
}

.project-card::before{
    content:"";
    position:absolute;
    top:-50px;
    right:-50px;
    width:100px;
    height:100px;
    background:rgba(250,230,4,0.08);
    border-radius:50%;
    transition:0.3s;
}
.project-card:hover::before{
    transform:scale(2);
}

.project-card:hover{
    transform:translateY(-5px);
    border-color:#777;
    box-shadow: 0 15px 40px rgba(0 0 0, 0.6);
}
.project-content:hover{
    transform:translateY(-3px);
    border-color:#666;
}

.project-content h3{
    font-size:24px;
    margin-bottom:15px;
}

.project-card p{
    color: #bbb;
    line-height:1.7;
}

.project-tech{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-top:20px;
}

.project-tech span{
    padding:5px 10px;
    border:1px solid #555;
    border-radius:15px;
    font-size:15px;
    color:#bbb;
    transition:0.3s;
}

.project-tech span:hover{
    color:rgb(250,230,4);
    border-color:rgb(250,230,4);
    box-shadow:0 0 10px rgba(250,230,4,0.1);
}

.project-link{
    text-decoration:none;
    display:inline-block;
    margin-top:25px;
    padding:8px 0;
    color:#bbb;
    position:relative;
    transition:0.3s;
}

.project-link:hover{
    color:rgb(245,230,4);
    text-decoration:underline;
    transform:translateX(4px);
}

#contacts{
    min-height:70vh;
    padding:100px 8%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#contacts h2{
    font-size:45px;
    margin-bottom:20px;
}

#contacts p{
    color:  #bbb;
    font-size:20px;
    margin-bottom:40px;
}

.contact-links{
    display:flex;
    gap:20px;
}

.contact-links a{
    padding:10px 12px;
    border:1px solid #666;
    border-radius:6px;
    transition:0.3s;
    text-decoration:none;
    background:rgba(255,255,255,0.02);
    color:#bbb;
}
.contact-links a:hover{
    transform:translateY(-3px);
    border-color:rgb(250,230,4);
    color:rgb(250,230,4);
    box-shadow:0 0 15px rgba(250,230,4,0);
    text-decoration:underline;
    
}

footer{
    text-align:center;
    padding:30px 20px;
    margin-top:50px;
    background-color: #000000;
    border-top:1px solid #333;
    color:#666;
}
